* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(0deg, rgb(240, 216, 216) ,rgb(130, 183, 235) );
    color: #2b2a2a;
    font-family: verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.sayfa {
    width: 960px;
    margin:0  auto;
}

.ust {
    background: rgb(91, 158, 224);
    display: flex;
    border-radius: 5px;
}

#logo {
    width: 260px;
    margin-top: 7px;
    margin-left: 10px;
}

#logo h1 {
    margin: 0;
    padding: 0;
    font-size: 42px;
    text-transform: uppercase;
}

#logo h1 a {
    font-family: Georgia;
    text-decoration: none;
    color: #DBDBDB;
    letter-spacing: 3px;
}

#logo p {
    color: #DBDBDB;
    font-family: Georgia;
    margin-left: 3px;
    margin-top: 0;
    padding-top: 0;
    letter-spacing: 2px;
}

#menu {
    display: flex;
    justify-content: center;
    width: 650px;
    margin: 30px 0 0 0;
    padding: 0;
    font-size: 15px;
    text-align: right;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

#menu ul li {
    display: inline;
    margin-right: 35px;
}

#menu ul li a {
    text-decoration: none;
    font-size: 19px;
    font-family: Verdana;
    color: rgb(240, 216, 216);
    
}

.orta {
    margin-top: 20px;
    display: flex;
}

.orta-sol {
    width: 500px;
    
}
.orta-sol img{
    width: 475px;
    height: 575px;
}
.orta-sag {
    width: 400px;
  
    height: 400px;
   
    background: linear-gradient(0deg, rgb(240, 216, 216) ,rgb(130, 183, 235) );
    padding: 10px;
    margin-right: 25px;
}

.orta-sag img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;

}

.orta-resim {
    margin: 0 25px;
    display: flex;
}

.card {
    width: 300px;
   
    margin-right: 30px;
}

.card:nth-child(3) {
    margin-right: 0;
}

.card h1 {
    border-bottom: 1px dotted white;
    padding-bottom: 15px;
}
.card img {
    width: 100px;
    height: 120px;
}

.button a {
    display: inline-block;
    padding: 10px 15px;
    color: black;
    background-color: #faebd7;
    text-decoration: none;
}

.clear {
    clear: both;
}

.imgphoto{
display:flex;
justify-content:left;
width:10px;

}
.fon{
    font-family: sans-serif;
    font-size: 18px;
}

.elaqe {
    margin-top: 20px;
    margin-left: 20px ;
    background-color: rgb(61, 61, 61);
    color: white;
    
}
.elaqe li {
    list-style-type: none;
    font-size: 15px;
    font-family: ;
}
.elaqe li img {
    max-width: 1%;
    height: auto;
}
.icerik {
    display: flex;
}